* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  height: 64px;
  padding: 20px 25px;
  background-color: #f15b22;
  color: #ffffff;
  border: 0;
  border-radius: 5px;
}

section {
  padding-top: 130px;
}
/* header and banner styles */
#header {
  background-image: url("../images/banner/banner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  display: flex;
  justify-content: right;
  align-items: center;
}
.header-content {
  width: 35%;
  text-align: right;
  padding-right: 200px;
}
.header-title {
  font-size: 65px;
  color: #151414;
}
.header-desc {
  color: #444343;
  margin: 24px 0 32px;
}

/* my failure section styles */
.my-failure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 100px;
  gap: 87px;
}
.my-failure-img img {
  width: 500px;
}
.my-failure-text {
  padding: 50px;
  margin-top: 200px;
  width: 440px;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.section-desc {
  color: #444343;
  margin: 24px 0 16px;
}
.failure-list {
  color: #444343;
  list-style: none;
}
.failure-list li {
  margin-bottom: 8px;
}
.failure-list i {
  color: #00db8e;
}

/* My plans section styles */
.my-plans {
  text-align: center;
  margin: 0 100px;
}
.my-plans-all {
  display: flex;
  justify-content: space-evenly;
  margin-top: 55px;
}
.item-icon {
  height: 92px;
  width: 92px;
}
.item-title {
  font-size: 30px;
  color: #151414;
  margin-top: 24px;
  margin-bottom: 16px;
}
.item-desc {
  color: #737272;
  font-size: 25px;
}

/* Call section styles */
.call-content {
  background: linear-gradient(
      to right,
      rgb(247 76 2 / 65%),
      rgb(249 249 249 / 9%)
    ),
    url(../images/watch.png);
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1140px;
  height: 300px;
  border-radius: 10px;
}
.call-section .section-title {
  color: #ffffff;
  width: 50%;
  padding: 60px 0 0 60px;
}
.call-section .btn-primary,
.footer-content .btn-primary {
  color: #f15b22;
  background-color: #ffffff;
  margin: 24px 0 0 60px;
}

/* footer section styles */
#footer {
  background-color: #151414;
  margin-top: 130px;
}
.footer-content {
  display: flex;
  padding: 80px 130px;
  gap: 250px;
}
.footer-texts {
  color: #ffffff;
}
.footer-title {
  font-size: 45px;
}
.footer-desc {
  margin-top: 16px;
  margin-bottom: 24px;
}
.footer-contact {
  margin-bottom: 16px;
}
.footer-links {
  display: flex;
  gap: 20px;
  margin-top: 32px;
}

.form-title {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 25px;
}

.footer-form input[type="email"] {
  padding: 20px;
  border: 0;
  border-radius: 5px;
  width: 320px;
}
.footer-form .btn-primary {
  margin: 20px 0;
}
.btn-primary:hover {
  background-color: #59f122;
  color: #ffffff;
}
